# Ignore project Python configs
.venv
.env
__pycache__

# Ignore models and datasets and extensions
*.pt
*.pkl
*.onnx
*.h5
*.joblib
*.csv
*.xlsx
*.json
*.ini
*.log

# Ignore folders
models/
mlruns/
data/
mlartifacts/
tmp/
gcp-storage-service-account.json